.drop-down,
.drop-down > * {
  display: flex;
}

.drop-down {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 224, 224);
  position: absolute;
  background-color: white;
  z-index: 5;
  width: 160px;
  right: 8px;
  top: 28px;
  padding: 4px 0;
  border-radius: 8px;
  box-shadow: 0 8px 8px 2px rgba(218, 222, 223, 0.377);
}

.drop-down:before {
  content: "";
  position: absolute;
  right: 8px;
  top: -8px;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  border-top: 0px solid transparent;
}

.drop-down a,
.drop-down div {
  color: rgb(70, 69, 69);
  padding: 4px 8px 2px 16px;
  line-height: 1.45rem;
  font-weight: 400;
}
.drop-down div {
  font-size: 14px;
}

.drop-down a:hover {
  color: white;
  background-color: #0366d6;
}

.drop-down hr {
  margin: 8px 0;
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: 1px solid transparent;
}

.hide-drop-down {
  display: none;
}

.drop-down-user-name {
  font-weight: 500 !important;
  padding-top: 0 !important;
}

.drop-width-adjust {
  width: 178px !important;
}

.drop-down-focusing {
  border: 1px solid rgb(224, 224, 224);
  width: 100%;
  margin-right: 8px;
}

.drop-down-focusing {
  padding: 4px 8px;
  border-radius: 6px;
}

.drop-down-focusing > span {
  padding-right: 8px;
  font-size: 12px;
}

.drop-down-focusing > span:hover {
  color: #0366d6;
}

.notification-drop-down {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 200px;
  color: white;
  font-size: 12px;
  right: 0;
  top: 26px;
  border-radius: 4px;
  padding: 4px 0;
  background-color: #24292e;
}
