header {
  /* border: 2px solid rebeccapurple; */
  background-color: #24292e;
}

header,
header * {
  display: flex;
}

header * a {
  color: rgb(252, 243, 243);
  font-weight: bold;
  font-size: 14px;
}

.nav-icons {
  color: rgb(252, 243, 243);
}

header * a:hover {
  color: rgb(207, 207, 207);
}

.search {
  height: 28px;
  background-color: #24292e;
  border: 1px solid gray;
  border-radius: 6px;
  outline-offset: 0;
  padding: 0px 12px 2px;
  line-height: 22px;
  font-size: 14px;
}

.search::placeholder {
  color: rgba(252, 243, 243, 0.767);
  opacity: 1;
}

.search:focus {
  outline-offset: 0;
  border: 1px solid rgb(100, 100, 253);
  outline: none;
  background-color: #fafbfc;
}

@media only screen and (max-width: 768px) {
  header,
  header * {
    flex-direction: column;
  }

  header {
    padding: 16px 16px;
  }

  .header-logo {
    align-self: center;
  }

  .hamburger-icon {
    height: 2px;
    width: 22px;
    background-color: rgba(252, 243, 243, 0.767);
    position: absolute;
    top: 30px;
  }

  .menu-items {
    display: none;
  }

  .hamburger-icon:before,
  .hamburger-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: inherit;
    top: -8px;
  }

  .hamburger-icon:after {
    content: "";
    top: 8px;
  }

  input[type="checkbox"] {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 5;
    top: 20px;
    opacity: 0;
  }

  input[type="checkbox"]:checked ~ .menu-items {
    display: flex;
  }

  .menu-items > * {
    padding: 9px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.295);
  }

  .sign-out {
    padding-bottom: 0;
    border-bottom: none;
  }

  .search {
    margin: 4px 0 6px 0;
  }

  .nav-icons {
    position: absolute;
    right: 16px;
    top: 20px;
  }

  .nav-with-icon {
    flex-direction: row;
  }
}

@media only screen and (min-width: 769px) {
  header {
    padding: 16px 24px;
    justify-content: space-between;
    align-items: center;
  }

  .menu-items {
    align-items: center;
    flex: 3;
  }

  .menu-items > * {
    margin-left: 16px;
  }

  .search {
    width: 270px;
    transition: width 0.2s ease-in;
  }

  .search:focus {
    width: 425px;
    background-color: #fafbfc;
  }

  input[type="checkbox"] {
    display: none;
  }

  .hide {
    display: none;
  }

  .nav-icons {
    flex: 1;
    justify-content: flex-end;
  }
}
