.main-section {
  display: flex;
  /* border: 2px solid rebeccapurple; */
  justify-content: space-around;
  margin: 1px 5% 32px;
}

/* main github content styles */
.git-content {
  /* border: 2px solid rgb(139, 114, 250); */
  flex: 3;
  padding-left: 16px;
}

@media only screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
  .git-content {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .main-section {
    margin: 42px 3% 32px 1.5%;
  }
}
