.profile,
.profile * {
  display: flex;
}

.profile {
  flex-direction: column;
  margin-bottom: 22px;
}

.profile-img-container {
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 24px;
}

.profile-img {
  border-radius: 50%;
  width: 17.4%;
}

.name-div {
  flex-direction: column;
  /* border: 2px solid saddlebrown; */
  flex: 1;
  padding-left: 8px;
  margin-left: 16px;
}

.name {
  font-size: 28px;
  font-weight: 500;
}

.user-name {
  font-size: 22px;
  font-weight: 100;
}

.focusing-container {
  padding: 7px 8px;
  margin-top: 8px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  font-size: 12px;
}

.focusing-container > * {
  padding-right: 8px;
}

.focusing-container:hover {
  color: rgb(108, 108, 255);
}

.bio {
  font-size: 16px !important;
  margin: 8px 0;
}

.edit-profile-btn {
  display: flex;
  border: 1px solid rgb(224, 224, 224);
  background-color: #fafbfc;
  padding: 5px 16px;
  width: 100%;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 16px;
}

.followers-stars {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 16px;
}

.followers-stars * {
  padding-right: 4px;
}

.followers-stars span {
  font-weight: bold;
}

.contact-list {
  display: flex;
  flex-direction: column;
}

.contact-list li {
  padding-top: 4px;
}

.highlights {
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 16px;
  padding-top: 16px;
  flex-direction: column;
}

.highlights h2 {
  margin-bottom: 8px;
}

.arctic {
  font-size: 14px;
}

.followers-stars-icons {
  align-self: center;
  width: 16px;
  height: 16px;
  /* margin-right: 8px; */
}

@media only screen and (max-width: 768px) {
  .hidden-profile {
    display: none;
  }
  .profile-img-container {
    align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  .profile {
    flex: 1;
    padding: 0 16px;
    position: relative;
  }

  .profile-img-container {
    flex-direction: column;
    margin-bottom: 8px;
  }

  .profile-img {
    width: 100%;
    margin-bottom: 12px;
  }
  .name-div {
    margin-left: 0;
    padding-left: 0;
  }

  .focusing-container {
    position: absolute;
    left: 85%;
    top: 30%;
    background-color: white;
    border-radius: 20px;
    padding: 8px 4px;
    align-items: center;
  }

  .focus-text {
    display: none;
  }

  .focusing-container:hover > .focus-text {
    display: flex;
  }

  .profile-icons {
    align-self: flex-end;
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
